<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/trainer/layout}">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">

        <!-- Title Page-->
        <title>Tables</title>
    </head>

    <body class="animsition">
        <!-- HEADER MOBILE-->

        <!-- END HEADER MOBILE-->


        <!-- PAGE CONTAINER-->
        <div layout:fragment="content">
            <!-- HEADER DESKTOP-->
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">FeedBack</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Report Problem  </li>
                                    </ol>
                                </nav>
                                <div class="overview-wrap" style="padding-bottom: 20px">
                                    <h2 class="title-1">Report Problem</h2>
                                    
                                </div>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table id="example" class="table table-borderless table-striped table-data3">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>ID</th>
                                                <th>Message</th>
                                                <th>Report Date</th>
                                                <th>Employee</th>
                                                <th style="display:none;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each = "data:${dataReport}">
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#add-respond"><i class="fa fa-reply"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#delete-employee"><i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                                <td id="report_id" th:text="${data.reportId}"></td>
                                                <td id="report_message" th:text="${data.reportMessage}"></td>
                                                <td id="report_date" th:text="${data.reportDate}"></td>
                                                <td id="employee_id" th:text="${data.employeeId.employeeId}" style="display:none;"></td>
                                                <td id="employee_name" th:text="${data.employeeId.employeeName}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->

                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2019 Bootcamp25. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="modal fade" id="add-respond" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reply Respond</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    
                    <form th:action="@{/respond/addData}" method="post">


                        <div class="form-group required">
                                <input type="hidden" class="form-control" id="" value="0" name="respondId">
                                <input type="hidden" class="form-control" id="report_id" name="reportId">
                        </div>
                        
                        <div class="form-group required">
                            <label for="employeeId" class="col-form-label col-md-4" readonly="">Employee</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="employee_name" readonly>
                                <input type="hidden" class="form-control" id="employee_id" name="employeeId">
                                 
                            </div>
                            <input type="hidden" class="form-control" id="isDelete" name="isDelete" value="false" placeholder="isDelete">
                        </div>
                        
                       
                        <div class="form-group required">
                            <label for="reportId" class="col-form-label col-md-4">Report</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="report_message" readonly=""></textarea>
                            </div>
                        </div>

                        

                        <div class="form-group required">
                            <label for="respondMessage" class="col-form-label col-md-6">Message</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="respond_message" name="respondMessage" placeholder="Message here"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" id="confirm">Reply</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        </div>



    </body>


</html>
<!-- end document-->
